.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px 60px;
  background-color: #f9f6e8;
  font-family: "JetBrains Mono", monospace;
}

#search-city-input {
  background-color: #ffcc1794;
  color: #fffffd;
  border: none;
  padding: 15px;
  width: 75%;
  margin: 5px;
  font-size: 18px;
  border-radius: 10px;
}

input::placeholder {
  color: #fffffd;
}

.search-button {
  background-color: #ffcc17;
  border: solid #ffcc17;
  color: #fffffd;
  padding: 15px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 10px;
}

.todays-sun {
  position: relative;
  top: -50px;
  left: -40px;
}

.temperature {
  position: relative;
  left: -40px;
}

.precipitation {
  color: rgba(255, 204, 23, 0.58);
}

.forecast {
  max-width: 700px;
  margin: 0 auto;
}

.current-city {
  margin-top: 15px;
}

.current-temperature-unit {
  position: relative;
  font-size: 26px;
  top: -75px;
  left: 54px;
  color: #4d53e8;
}


h1,
h2,
h3,
p {
  color: #4d53e8;
}

h1 {
  font-size: 54px;
}

ul {
  list-style: none;
  padding-left: 0;
}
